* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head, body {
    margin: 0;
    padding: 0;
}

.top-bar-section {
    height: 80px;
    background-color: cadetblue;
    display: block;
}

.notification-bar-section {
    height: 35px;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-area-container {
    width: 80%;
    margin: auto;
    display: flex;
}

.content-section {
    background-color: lightcoral;
    min-height: 100px;
    width: 70%;
}


.left-bar-section {
    background-color: burlywood;
    min-height: 100px;
    width: 100% - 70%;
}