
@import 'variables';
@import 'structure';


@mixin primary-btn($border-color: transparent) {
    padding: 3px 10px;
    border: solid 2px $border-color;
    border-radius: 3px;
}

.notification-bar-section {
    button {
        @include primary-btn;
        background-color: $primary-bg;
        color: $primary-btn;
    }
}

.content-section {
    button {
        @include primary-btn(blue);
        background-color: $primary-btn;
        color: white;
        &:hover {
            background-color: rgb(31, 83, 166);
        }
    }
    .content-line {
        width: 90%;
        height: 0.4px;
        background-color: #e9e9e9;
        margin: auto;
    }
}